.zoom-out
{
    -webkit-animation-name: scaleUp;
    -webkit-animation-duration: 2s;
    animation-name: scaleUp;
    animation-duration: 2s;
}

@keyframes scaleUp {
  0% {transform: scale(0); opacity: 0;}
  /*50% { transform: scale(1.5); opacity: 1;}*/
  100% { transform: scale(1); opacity: 1;}
}

@-webkit-keyframes scaleUp {
  0% {transform: scale(0); opacity: 0;}
  /*50% { transform: scale(1.5); opacity: 1;}*/
  100% { transform: scale(1); opacity: 1;}
}

.fade-in
{
    -webkit-animation-name: appear;
    -webkit-animation-duration: 3s;
    animation-name: appear;
    animation-duration: 3s;
}

@keyframes appear {
    from { opacity: 0;}
    to { opacity: 1;}
}

@-webkit-keyframes appear {
    from { opacity: 0;}
    to { opacity: 1;}
}


.fade-in-from-bottom-delay
{
  animation-delay: 1.3s;
  -webkit-animation-name: fadeInFromBottom;
  -webkit-animation-duration: 1.3s;
  animation-name: fadeInFromBottom;
  animation-duration: 1.3s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  visibility: hidden;
}

.fade-in-from-bottom
{
  -webkit-animation-name: fadeInFromBottom;
  -webkit-animation-duration: 1.5s;
  animation-name: fadeInFromBottom;
  animation-duration: 1.5s;
  animation-timing-function: ease;
}


@keyframes fadeInFromBottom {
    from { transform: translateY(60%); opacity: 0; scale(0);}
    to { transform: translateY(0%); opacity: 1; scale(1); visibility: visible;}
}

@-webkit-keyframes fadeInFromBottom {
    from { transform: translateY(60%)); opacity: 0; scale(0);}
    to { transform: translateY(0%); opacity: 1; scale(1); visibility: visible;}
}
