
body {
    font-family: Helvetica;
}

.logo img{
	display: block;
	border-radius: 50%;
	background:#424242;
}
#introduce {
    color: #1C2833;
	font-style:italic;
	text-align:center;
	font-family: script, cursive;

}
#image img{
	background-color: inherit;
	display: block;
	margin: auto;
	border-radius: 50%;

}
ul.bar{
	list-style-type: none;
	overflow: hidden;
	background:linear-gradient(black 40%, darkred 80%);
	position:fixed;
	top: 20px;
	padding:0;
	margin:0;
	
}
ul.bar li{
	
	line-height: 60px;
	box-shadow: 0px 5px 5px 0px grey;
}
ul.bar li a{
	color: white;
	text-align: center;
    padding: 30px 16px;
    text-decoration: none;
}
ul.bar li a:hover {
    background-color: gray;
    font-weight: bold;
}
ul.bar li a.active {
    background-color: #111;
    color: black;
}
.fa{
	margin-right: 2px;
}
.fa-list{
	position: absolute;
	right: 5px;
	cursor: pointer;
	top: 30px;
	}

h1{

	font-family: script, cursive;
	font-size: 36px;
	color: #CD6155;
	text-align: center;
}

p{
	font-family: system-ui;
	text-align: left;
	color:#212F3C;
	line-height:200%;
	text-indent: 50px;

}

#question {
    display: block;
	width: 100%;
	font-weight: bold;
	
}
#about{
	border-radius: 20px;
	background: -moz-linear-gradient(left top, #E6EE9C, gray); 
	background:-webkit-linear-gradient(left top, #E6EE9C, gray); 
	background: -o-linear-gradient( left top, #E6EE9C, gray);
	background: -ms-linear-gradient(left top, #E6EE9C, gray);
	background: linear-gradient(left top, #E6EE9C, gray);
}
#projects{
	background: -moz-linear-gradient(left top, #85929E, white); 
	background:-webkit-linear-gradient(left top, #85929E  , white); 
	background: -o-linear-gradient( left top, #85929E, white);
	background: -ms-linear-gradient(left top, #85929E, white);
	background: linear-gradient(left top, #85929E, white);
	border-radius: 20px;
	
}
#education{
	background: -moz-linear-gradient(left top, #F5B041, 7D6608); 
	background:-webkit-linear-gradient(left top, #F5B041, #7D6608); 
	background: -o-linear-gradient( left top, #F5B041, 7D6608);
	background: -ms-linear-gradient(left top, #F5B041, 7D6608);
	background: linear-gradient(left top, #F5B041, 7D6608);
	border-radius: 20px;
}
footer{
	color:#5B2C6F;
	font-family: script, cursive;
	text-align: center;
	text-decoration:none;
}
footer ul{
	list-style-type:none;
	
}
#contacts{
	float:left;
	width: 50%;
	
}
#projects ul li{
	line-height:200%;
	margin-left:30px;
}
#education ul li{
	line-height:200%;
	margin-left:30px;
}
#resume{
	float:left;
	width: 50%;
}
#linkedin{
	float: left;
	width: 25%;
}
#email{
	float: right;
	width: 25%;
}

button{
  display: block;
  position: fixed;
  bottom: 40px;
  right: 40px;
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
  font-size:36px;
  background-color:white;
  border:none;
  
}
button a{
	text-decoration:none;
}
a{
	
	color: purple;
}

h3{
	text-indent: 30px;

}
#code{
	color: blue;
	text-align:center;
}
#final{
	color: blue;
	text-align:center;
}
#blank{
	height: 200px;
}
#blank1{
	height: 200px;
}
#blank2{
	height: 200px;
}
@media only screen and (min-width: 320px) {

header{
	height: 200px;
}
.logo img{
	width: 100px;
	height: 100px;
}
#introduce {
    text-shadow: 3px 3px white;
	font-size: 30px;
	
}
#image img{
	width: 90%;
	height: 300px;
}
ul.bar{
	display:none;
	overflow: hidden;
	position: relative;
	float:left;
	margin: 0 auto;

}
ul.bar li{
	float:left;
	width: 100%;
	line-height: 30px;
	box-shadow: 0px 5px 5px 0px grey;
}
 ul.bar li a{
	width: 100%;
	padding: 5px;
	display:inline-block;
	font-size: 16px;
}
 
.fa-list{
	display: block;
}
footer{
	font-size: 24px;
}
button{
  bottom: 5px;
  right: 5px;

  font-size:16px;
}
	#blank{
	height: 100px;
}
#blank1{
	height: 100px;
}
#blank2{
	height: 100px;
}
}
@media only screen and (min-width: 768px) {
	
.logo img{
	width: 200px;
	height: 200px;
	margin-left: 10%;
	float: left;
}

#image img{
	margin-top: 250px;
	width: 80%;
	height: 400px;
    }
#introduce {
	position:relative;
	top:200px;
    font-size: 50px;
	text-align:center;

	
}
#home{
	height: 70vh;
}
ul.bar{
	display:inline;
	float: right;
	width: 240px;
}
ul.bar li{
	float:right;
	line-height: 20px;
	width: 240px;
}
ul.bar li a{
	display:block;
	font-size: 24px;
	padding: 15px 10px;
}

.fa-list{
	display: none;
}
#about,#projects, #education{
	font-size: 24px;
}

footer{
	font-size: 36px;
}

@media only screen and (min-width: 1200px) {
body{
	margin-left:20%;
	margin-right:20%;
}

.logo img{
	margin:0;
	width: 300px;
	height: 300px;
	float:left;
}	

#home{
	height: 120vh;
}
#introduce {
	top:15%;
    font-size: 50px;
	float: left;
	position:relative;
	width: 50%;
	
}
#image img{
	top:10%;
	float:left;
	width:50%;
	border-radius: 20px;
	height: 500px;
	display: block;
}

ul.bar {
	overflow: hidden;
	position: relative;
	float:left;
	margin: 0 auto;
	width: 100%;
	display:inline;
}
ul.bar li{
	float:left;
	width: 120px;
}
 ul.bar li a{
	display:inline-block;
	font-size: 15px;
}


.fa-list{
	display: none;
}
h1{
	font-size: 48px;
}

#about,#projects, #education{
	font-size: 36px;
}
footer{
	font-size: 90px;
}


}
